* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #121214;
  --text-color: #e1e1e6;
  --title-color: #04d361;
  --form-color: #a8a8a8;
  --bg-button-color: #8257e5;
}

body {
  background: var(--body-bg-color);
  height: 100vh;
}

body * {
  font-family: "League Spartan", sans-serif;
}

#container {
  display: flex;
}

#news-bg-img-container {
  flex-basis: 50%;
  height: 100vh;
  background: url(./assets/read_news.jpg) no-repeat center/cover;
}

#content-container {
  flex-basis: 50%;
  padding: 50px 0 0 30px;
  position: relative;
}

#content-container img {
  width: calc(50vw - 46%);
}

#news-intro {
  margin: 92px 0 0 6px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

#news-intro span:first-child {
  font-family: "Work Sans", sans-serif;
  color: #08c05e;
  font-size: 24px;
  font-weight: 700;
}

#news-intro span:nth-child(2),
#news-intro span:last-child {
  color: #ffffff;
  font-size: 14px;
}

#news-intro span:nth-child(2) {
  font-weight: 700;
}

#news-intro span:last-child {
  line-height: 138.735%;
}

#content-container form {
  margin: 50px 0 0 6px;
  position: absolute;
  width: 110%;
}

#content-container form label {
  display: flex;
  flex-direction: column;
  gap: 17px;
  color: var(--form-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 138.735%;
}

#msg-container {
  background: var(--title-color);
  color: var(--text-color);
  padding: 17px 10px;
}

.error-msg {
  --title-color: #ff3b3b;
}

#input {
  display: flex;
}

#email {
  border: none;
  border-left: 5px solid var(--title-color);
  padding: 17px 10px;
  font-family: "Work Sans", sans-serif;
  font-size: 12px;
  width: 100%;
  text-transform: lowercase;
}

#input button {
  width: 48px;
  height: 48px;
  border: none;
  background: var(--bg-button-color);
  cursor: pointer;
}

#input button img {
  width: 50%;
}

#link {
  position: absolute;
  bottom: 0;
  margin: 0 0 10px 6px;
  font-size: 14px;
  font-weight: 700;
  line-height: 138.735%;
}

#link a {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: var(--bg-button-color);
}

#link a img {
  width: 24px;
}

@media (max-width: 700px) {
  #container {
    display: initial;
  }

  #news-bg-img-container,
  #content-container {
    flex-basis: unset;
  }

  #news-bg-img-container {
    display: none;
  }

  #content-container,
  #content-container form,
  #link {
    position: initial;
  }

  #content-container {
    padding: 20px;
  }

  #content-container img {
    width: 100%;
  }

  #content-container form {
    width: 100%;
  }

  #link {
    margin-top: 50px;
  }
}
